<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.1/pure-min.css">
<link href="{{ ASSET_PATH }}/css/sticky-footer.css" rel="stylesheet" type="text/css" media="all">

<link href="{{ ASSET_PATH }}/css/common.css" rel="stylesheet" type="text/css" media="all">
<link href="{{ ASSET_PATH }}/css/structure.css" rel="stylesheet" type="text/css" media="all">
<link href="{{ ASSET_PATH }}/css/style.css" rel="stylesheet" type="text/css" media="all">
<link href="{{ ASSET_PATH }}/css/panel.css" rel="stylesheet" type="text/css" media="all">
