<script id="keyboard_shortcuts_panel" type="text/x-template">
  <div class="yui3-widget-hd">
    Keyboard Shortcuts
  </div>
  <div class="yui3-widget-bd">
    <div class="pure-g-r">
      <div class="pure-u-1-3">
        <pre>
<span class="sans">Site Navigation</span>
G, H - Go to Home
G, A - Go to About
G, B - Go to Blog
G, C - Go to Code
        </pre>
      </div>
      <div class="pure-u-1-3">
        <pre>
<span class="sans">Application</span>
` - Activate console
T - Chat with Us
        </pre>
      </div>
      <div class="pure-u-1-3">
        <pre>
<span class="sans">Info</span>
? - Display this help
Esc - Close this help
        </pre>
      </div>
    </div>
  </div>
</script>
