.rounded-10 {
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
}
h1 {
  font-size: 36px;
  margin: 12px 0px;
}
h2 {
  font-size: 30px;
  margin: 10px 0px;
}
h3 {
  font-size: 27px;
  margin: 9px 0px;
}
h4 {
  font-size: 24px;
  margin: 8px 0px;
}
p {
  margin-top: 1em;
  margin-bottom: 1em;
}
li {
  margin-left: 1em;
}
.serif {
  font-family: "Palatino Linotype", Palatino, serif;
}
.sans {
  font-family: "Lucida Sans Unicode", "Lucida Grand", sans-serif;
}
.monospace {
  font-family: Courier New, monospace, serif;
}
