/*

http://www.colourlovers.com/palette/2080987/HackingIntheDark
Background - "Dark Charcoal" (#181818)
Foreground text - White (#ffffff)
Links - "Dark Forest Green" (#107010)
Hover Links - "Golf Green" (#18a718)
Headings - "Deep Orange" (#df8020)
Heading Border & Trim - "Caution Orange" (#ffc40c)

*/
.terminal-style {
  background-color: #000000;
  color: #00ff00;
  opacity: 0.8;
  font-family: Courier New, monospace, serif;
  font-weight: bold;
}
.yui3-panel .yui3-widget-hd {
  font-family: "Lucida Sans Unicode", "Lucida Grand", sans-serif;
}
.yui3-panel .yui3-widget-bd {
  background-color: #000000;
  color: #00ff00;
  opacity: 0.8;
  font-family: Courier New, monospace, serif;
  font-weight: bold;
}
.yui3-panel .yui3-widget-bd pre {
  background-color: #000000;
  color: #00ff00;
  opacity: 0.8;
  font-family: Courier New, monospace, serif;
  font-weight: bold;
}
.yui3-panel .yui3-widget-bd.console-container {
  height: 100%;
}
.yui3-panel .yui3-widget-bd .console {
  background-color: #000000;
  color: #00ff00;
  opacity: 0.8;
  font-family: Courier New, monospace, serif;
  font-weight: bold;
  width: 100%;
  height: 100%;
  resize: none;
  overflow: scroll;
}
